<a href="https://colab.research.google.com/github/shagupta1/CDS-DS-110/blob/main/Shaurya_Gupta_DS110_F23_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework 1 - 60 points possible - Due 9/18 11:59pm

# Problem 1:  Expression warmups (6 pts: 2,2,2)

Compute the following quantities in the code boxes that follow each prompt.
Note that for each of these, we care about what the code *evaluates to* and not what it *prints* - so you don't need to call print() for any of these.

a) (2 pts) The square of 2023.

In [ ]:
2023**2

4092529

b) (2 pts) The number of characters in the phrase "Pursue the unknown end."  (Including the whitespace and period.)

In [ ]:
input1 = "Pursue the unknown end"
len(input1)

22

c) (2 pts) The remainder (import the math library) of -289 divided by 12.

In [ ]:
import math
print(math.remainder(-289, 12))

-1.0

# Problem 2:  Logic (14 pts: 2,4,4,4)

These problems will get you used to logical reasoning with and, or, and not, which come up quite a bit in programming.  For each problem, find the assignment of True or False to each variable that makes the variable "result" True.

a) (2 pts)

In [ ]:
a = True  # TODO:  change if necessary
b = True   # TODO:  change if necessary
result = a and b
result

True

b) (4 pts)

In [ ]:
a = True   # TODO:  change if necessary
b = False  # TODO:  change if necessary
result = (a and not b) or (not a and b) and a
result

True

c) (4 pts)

In [ ]:
a = True   # TODO:  change if necessary
b = True   # TODO:  change if necessary
c = False  # TODO:  change if necessary
d = True   # TODO:  change if necessary
e = True   # TODO:  change if necessary
result = (not a or b) and (not b or not c) and (c or d) and (not d or e) and a
result

True

d) (4 pts)

In [ ]:
log_level = 0      # TODO:  change to 1 if necessary
verbose = True       # TODO:  change to True if necessary
gpu_enabled = True #TODO:  change to True if necessary
extensive = True     # TODO:  change to True if necessary
if extensive:
    iterations = 20
else:
    iterations = 5
logging = log_level != 0
run_full_analysis = iterations >= 10 and gpu_enabled
result = run_full_analysis and verbose and not logging
result

True

# Problem 3:  Conditional warmups (20 pts: 6,8,6)

Write a brief program for each prompt that makes use of the provided variable current_hour to determine what hour of the day it is.  current_hour can be set to any value between 0 (midnight) and 23 (11pm).

In [ ]:
current_hour = 19  # change to get different outputs below

a) (6 pts) If the current hour is between 5 and 9 inclusive, print "Breakfast!".  If the current hour is between 10 and 13 inclusive, print "Brunch!"  Otherwise, print "Not breakfast :(".

In [ ]:
if 5<=current_hour<=9:
  print("Breakfast")
elif 10<=current_hour<=13:
  print("Brunch")
else:
  print("Not breakfast")

Not breakfast

b) (8 points) If the time is equal to or after 9:00pm (21), print "In three hours, it will be tomorrow." Otherwise, print "In three hours, it will be " followed by the hour three hours later using non-military time (so between 1 and 12).  (For example, if current_hour were 16, write "In three hours, it will be 7.")

In [ ]:
current_hour = int(input("Enter the time: "))

while current_hour < 0 or current_hour > 23:
    print("Please enter a valid time (0-23).")
    current_hour = int(input("Enter the time: "))


if current_hour >= 21:

    print("In three hours, it will be tomorrow.")

else:
    current_hour += 3

    if current_hour > 12:
        current_hour -= 12

    print("In three hours, it will be", current_hour)

Enter the time: 17
In three hours, it will be 8

c) (6 points)  Print "X hours until midnight" if the current hour is after noon, where X is the correct number of hours, and "X hours until noon" if it's before noon.  If it's noon or midnight, print "Noon" or "Midnight", respectively.  (You don't need to change "hours" to "hour" if there's just one.)

In [ ]:
current_hour = int(input("Enter the time"))

while current_hour<0 or current_hour>23:
  print("Please again enter the time")
  current_hour = int(input("Enter the time"))

if 0 < current_hour < 12:

  print("It will be noon in", 12 - current_hour, "hours.")

if 12 < current_hour < 24:

  print("It will be midnight in", 24 - current_hour, "hours.")

if current_hour == 0:

  print("It is Midnight")

if current_hour == 12:

  print("It is Noon")

Enter the time13
It will be midnight in 11 hours.

# Problem 4: Lists (20 pts: 2,2,3,4,3,3)

Some gas prices around the Boston area are 4.99, 5.10, 5.40, and 4.80.

a, 2pts) Create a variable named gas_prices that stores all four values as a list.

In [ ]:
gas_price = [4.99, 5.10, 5.40, 4.80]

b, 2pts) We discovered a new gas station.  Call the list method
 append() to add the value 4.75 to the end of the list.

In [ ]:
gas_price.append(4.75)
gas_price

[4.99, 5.1, 5.4, 4.8, 4.75]

c, 3pts) Call the sort() method on the prices, then write an expression that returns the median price in the list, that is, the price in the middle.  (You can hardcode the index of the median price.)

In [ ]:
gas_price.sort()
median_index = int((len(gas_price)-1)/2)
print(gas_price[median_index])

4.99

d, 4pts) Assuming the list is already sorted, code an expression that returns the difference between the largest price and the smallest price.

In [ ]:
max_price = 0
min_price = 10000

for price in gas_price:
    if price > max_price:
        max_price = price  # Update max_price if a larger price is found
    if price < min_price:
        min_price = price  # Update min_price if a smaller price is found

print("Maximum Gas Price:", max_price)
print("Minimum Gas Price:", min_price)

Maximum Gas Price: 5.4
Minimum Gas Price: 4.75

e, 3pts) Look online for a list method that reverses the order of the list.  Do this to gas_prices and print it.

In [ ]:
print("Un-reversed Gas Prices:", gas_price)
gas_price.reverse()
print("Reversed Gas Prices:", gas_price)

Un-reversed Gas Prices: [5.4, 5.1, 4.99, 4.8, 4.75]
Reversed Gas Prices: [4.75, 4.8, 4.99, 5.1, 5.4]

f, 3 pts) Here is a list-of-lists "prices" containing gas prices by the gallon in the first list, and milk prices by the gallon in the second list.  Write the expression that accesses the second milk price (3.04).

In [ ]:
prices = [[4.99, 5.10, 5.40, 4.80], # gas prices
          [2.90, 3.04, 3.32, 3.55]] # milk prices

In [ ]:
print(prices[1][1])

3.04

g, 3pts) Use the function max() to find the largest *milk* price.  (Index just once into prices, to get the milk list.)

In [66]:
prices = [[4.99, 5.10, 5.40, 4.80], [2.90, 3.04, 3.32, 3.55]]

largest_milk_price = max(prices[1])

print("Largest Milk Price:", largest_milk_price)

TypeError: ignored